{% extends "layout.njk" %}


{% block content %}
        <main>
            <div class="main-info">
                <div class="textReceitas">
                    <div class="info">
                        <h1>As melhores receitas</h1>
                        <p>Aprenda a construir os melhores pratos
                            com receitas criadas por profissionais
                            do mundo inteiro.</p>
                    </div>
                    <div class="img-chef">
                        <img src="chef.png">
                    </div>
                </div>
                <section class="acessos">
                    <div class="container">
                        <div class="mais-acessos">
                            <h2>Mais acessadas</h2>
                        </div>
                        <div class="frame">
                            <div class="grid-acessos">
                                <a href="#"><img src="burger.png" alt="Triplo Bacon"></a>
                                <p class="nome-receita">Triplo bacon burguer</p>
                                <p class="autor">por Jorge Relato</p>
                            </div>
                            <div class="grid-acessos">
                                <img src="pizza.png" alt="Pizza">
                                <p class="nome-receita">Pizza 4 estações</p>
                                <p class="autor">por Fabiana Melo</p>
                            </div>
                            <div class="grid-acessos">
                                <img src="espaguete.png" alt="Espaguete">
                                <p class="nome-receita">Espaguete ao alho</p>
                                <p class="autor">por Júlia Kinoto</p>
                            </div>
                            <div class="grid-acessos">
                                <img src="lasanha.png" alt="Lasanha">
                                <p class="nome-receita">Lasanha mac n’ cheese</p>
                                <p class="autor">por Juliano Vieira</p>
                            </div>
                            <div class="grid-acessos">
                                <img src="doce.png" alt="pao-do-ceu">
                                <p class="nome-receita">Docinhos pão-do-céu</p>
                                <p class="autor">por Ricardo Golvea</p>
                            </div>
                            <div class="grid-acessos">
                                <img src="asinhas.png" alt="Asinhas">
                                <p class="nome-receita">Asinhas de frango ao barbecue</p>
                                <p class="autor">por Vania Steroski</p>
                            </div>
                        </div>
                    </div>
                </section>

        </main>
{% endblock %}

