{% extends "layout.njk" %}

{% block content %}

    <div class="content-recipes">
        <img src="{{items[id].image}}">

        <div class="nome-receita-centro">
            <p class="nome-receita">{{items[id].title}}</p>
            <p class="autor">{{items[id].author}}</p>
        </div>
        <h2>Ingredientes</h2><br>
        <ul>
        {% for item in items[id].ingredients %}
        
        <li>{{item}}</li>
       
        
        {% endfor %}
          </ul>
        <br>

        <h2>Modo de Prepado</h2><br>
        <p>{{items[id].preparation | join("\n" | nl2br)}}</p><br>

        <h2>Informações Adicionais</h2><br>
        <p>{{items[id].information}}</p><br>
    </div>
{% endblock %}